.compatibility__item {
  padding-right: 16px;
  border-right: 1px solid rgba(102, 102, 102, 0.4);
  margin-right: 16px;
  height: 24px;
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease-in-out;
}

.compatibility__item:last-child {
  padding-right: 0;
  border-right: 0;
  margin-right: 0;
}

.compatibility__item:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .compatibility__item {
    padding-right: 20px;
    margin-right: 20px;
  }
}