.header__currency {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.29;
  width: 70px;
  height: 38px;
  border: 0;
  transition: opacity 0.3s ease-in-out;
}

.header__currency:focus {
  outline: none;
}

.header__currency:hover {
  opacity: 0.6;
  cursor: pointer;
}