.detection__subtitle {
  font-weight: 300;
  font-size: 28px;
  line-height: 1.14;
  color: white;
  text-align: right;
  max-width: 440px;
  margin: 0 0 50px auto;
}

@media screen and (max-width: 1279px) {
  .detection__subtitle {
    max-width: 350px;
  }
}

@media screen and (max-width: 1023px) {
  .detection__subtitle {
    max-width: 250px;
  }
}

@media screen and (max-width: 767px) {
  .detection__subtitle {
    font-size: 24px;
    line-height: 1.12;
    margin: 0 0 63px auto;
  }
}