.gaming__subtitle {
  color: #444444;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.14;
  max-width: 300px;
  margin: 0 0 45px;
}

@media screen and (max-width: 767px) {
  .gaming__subtitle {
    font-size: 24px;
    line-height: 1.12;
    margin: 0 0 18px;
  }
}