.buy-block__conditions-list {
  background-color: transparent;
  border: 2px solid #1D1D1B;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 12px 12px 8px;
  margin-right: 24px;
  transition: opacity 0.3s ease-in-out;
  max-width: 190px;
}

.buy-block__conditions-list:focus {
  outline: none;
}

.buy-block__conditions-list:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .buy-block__conditions-list {
    max-width: 140px;
  }
}

@media screen and (max-width: 879px) {
  .buy-block__conditions-list {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .buy-block__conditions-list {
    max-width: 100%;
    width: 100%
  }
}